<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active"><img src="http://placehold.it/800x300" alt="" class="slide-image"></div>
    <div class="item"><img src="http://placehold.it/800x300" alt="" class="slide-image"></div>
    <div class="item"><img src="http://placehold.it/800x300" alt="" class="slide-image"></div>
  </div>
  <a  class="carousel-control left" href="javascript:$('.carousel').carousel('prev')">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a  class="carousel-control right" href="javascript:$('.carousel').carousel('next')">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>