<h1>welcome to </h1>
<p><a href="/login">登录</a></p>
<p><a href="/register">注册</a></p>
{{!-- <form action="/login" method="POST">
    <input type="text" id="username" name="username">
    <input type="password" id="password" name="password">

    <input type="submit" value="提交">
</form> --}}