<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meadowlark Travel</title>
    {{{_sections.head}}}
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
    <header><img src="/img/logo.jpg" alt="Meadowlark Travel Logo"></header>
    {{{body}}}
    {{{_sections.jquery}}}
    {{#if showTests}}
            <div id="mocha"></div>
            <script src="/vendor/mocha.js"></script>
            <script src="/vendor/chai.js"></script>
            <script>
                mocha.ui('tdd');
                var assert = chai.assert;
            </script>
            <script src="/qa/tests-global.js"></script>
            {{#if pageTestScript}}
            <script src="{{pageTestScript}}"></script>
            {{/if}}
            <script>mocha.run();</script>
    {{/if}}
</body>
</html>